<% include ../partials/header %>
<h1>It's an animal's house</h1>
    <div>

 <form action="/zoos/<%= animal.zoo.id%>/animals/<%= animal._id%>?_method=put" method="POST">
      <div>
          <label for="name">Name:
           <input autofocus type="text" name="name" value="<%= animal.name%>">
          </label>
         <label for="species">Species:
         <input autofocus type="text" name="species" value="<%= animal.species%>">
         </label>
        <label for="age">Age:
         <input autofocus type="text" name="age" value="<%= animal.age%>">
         </label>
         <label for="photo">Photo URL: 
         <input type="text" value = "<%= animal.photo %>" name="photo">
         </label>
         <input type="submit" value="Update animal">
       </div>
      </form>

  <% include ../partials/footer %>