<% include ../partials/header %>
<h1>It's an animal's house</h1>
    <div>

 <form action="/zoos/<%= animal.zoo.id%>/animals/<%= animal._id%>?_method=put" method="POST">
      <div>
          <label for="animal[name]">Name:
           <input autofocus type="text" name="animal[name]" value="<%= animal.name%>">
          </label>
         <label for="animal[species]">Species:
         <input autofocus type="text" name="animal[species]" value="<%= animal.species%>">
         </label>
        <label for="animal[age]">Age:
         <input autofocus type="text" name="animal[age]" value="<%= animal.age%>">
         </label>
         <label for="animal[photo]">Photo URL: 
         <input type="text" value = "<%= animal.photo %>" name="animal[photo]">
         </label>
         <input type="submit" value="Update animal">
       </div>
      </form>

  <% include ../partials/footer %>