 <% include ../partials/header %>
  <h1>The animals of the <%= zoo.name%> in <%= zoo.location%></h1>
  <% zoo.animals.forEach(function(animal){ %>
    <p>
      <a href="/zoos/<%= zoo._id%>/animals/<%= animal._id%>">See More</a>
      <%= animal.name%>
    </p>
    <% } %>
  <div>
  <a href="/zoos/<%= zoo.id%>/animals/new">Add a new one!</a>
  </div>
  <div>
    <a href="/zoos/<%= zoo._id%>/edit">Edit zoo</a>
    </div>
    <div>
        <a href="/zoos">See all zoos evarrrr</a>
 </div>
 <% include ../partials/footer %>